<!DOCTYPE html>
<html>

<head>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

    <meta charset="UTF-8">
    <title>{% block title %}AssKeetchump{% endblock %}</title>
</head>

<div class="container">
    <div class="row logoR">
        <div class="col-4"></div>
        <div class="col-6 mt-5">
            <img src="{{ asset('img/token.png') }}" class="img-fluid justify-content-end" alt="">
        </div>
        <div class="col-1 mt-5  ">
            <img src="{{ asset('img/tel.png') }}" class="img-fluid logoR d-block header-logo justify-content-center" alt="">
        </div>
        <div class="col-1 mt-5">
            <img src="{{ asset('img/X.png') }}" class="img-fluid logoR  d-block header-logo" alt="">
        </div>
    </div>

</div>
<body>
<div class="row p-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid picka" src="{{ asset('img/pikatchoum.png') }}" alt="Pikatchoum">
            </div>

            <div class="col-5">
                <div class="container">
                    <div class="row align-items-center my-row">
                        <div class="text-column mt-5 image-overlay-text text-beside-image">
                            <h2>A$$!</h2>
                            <p>A$$ Keetchum! Embark on a blockchain adventure imbued with the indomitable spirit
                                <br> of the ultimate Pokémon Master. <span class="text-to-hide"> Get ready to not just catch Pokémon, but <br> also the boundless potential of cryptocurrency! </span> Gonna catch 'em all!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="black-band">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('img/adressTitle.png') }}" alt="" class="img-fluid">
                <img src="{{ asset('img/adress.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>


</div>


<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{{ asset('img/slem.png') }}" alt="Image Description" class="img-fluid picka mt-5">
        </div>
        <div class="col-4 mx-auto mt-5">
            <div class="text-image-container">
                <div class="text-beside-image">
                    <p>JOIN THE </p>
                    <h2>A$$!</h2>
                    <p>COMMUNITY </p>

                </div>
            </div>
        </div>
    </div>
</div>



{% block body %}{% endblock %}
</body>
</html>
