<!DOCTYPE html>
<html>

<head>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

    <meta charset="UTF-8">
    <title>{% block title %}AssKeetchump{% endblock %}</title>
</head>

<div class="container">
    <div class="row logoR">
        <div class="col-4"></div>
        <div class="col-6 mt-5">
            <img src="{{ asset('img/token.png') }}" class="img-fluid justify-content-end" alt="">
        </div>
        <div class="col-1 mt-5  ">
            <img src="{{ asset('img/tel.png') }}" class="img-fluid logoR d-block header-logo justify-content-center" alt="">
        </div>
        <div class="col-1 mt-5">
            <img src="{{ asset('img/X.png') }}" class="img-fluid logoR  d-block header-logo" alt="">
        </div>
    </div>

</div>
<body>
<div class="row p-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid picka" src="{{ asset('img/pikatchoum.png') }}" alt="Pikatchoum">
            </div>

            <div class="col-5">
                <div class="container">
                    <div class="row align-items-center my-row">
                        <div class="text-column mt-5 image-overlay-text text-beside-image">
                            <h2>A$$!</h2>
                            <p>A$$ Keetchum! Embark on a blockchain adventure imbued with the indomitable spirit
                                <br> of the ultimate Pokémon Master. <span class="text-to-hide"> Get ready to not just catch Pokémon, but <br> also the boundless potential of cryptocurrency! </span> Gonna catch 'em all!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="black-band">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('img/adressTitle.png') }}" alt="" class="img-fluid">
                <img src="{{ asset('img/adress.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>


</div>


<div class="container">
    <div class="row">
        <div class="col-4 mxt">
            <p>Mois 1 : Lancement du jeton
                <br><br>
                Lancement de l'Ash Ketchum Coin avec création d'un pool de liquidités initial.
                Lancement du premier événement Airdrop de la communauté pour récompenser les premiers soutiens.
                Annonces de partenariat

                <br><br>

                Mois 2 :
                <br><br>
                Développement de la communauté et récompense des premiers soutiens
                Lancement d'événements et d'activités ludiques pour permettre à un plus grand nombre de personnes de rejoindre notre communauté.
                Mise en place de programmes de staking pour les détenteurs de tokens.
                Première cotation sur une grande bourse
                Lancement de l'événement communautaire interactif "Trainer's Quest".
                Cette quête permettra aux personnes de notre communauté qui nous soutiennent le plus d'obtenir une liste blanche pour le lancement de notre NFT.

                <br><br>

                Mois 3-4-5
                <br><br>
                Continuer à développer la communauté, récompenser les utilisateurs et établir des partenariats tout en remplissant les places pour notre projet NFT unique intitulé "PokéLegacy Collectibles" qui s'intègre parfaitement à l'écosystème Ass Keetchum Coin.

                <br><br>
                Q2 : C'est un secret mais vous pouvez vous attendre à de grandes choses.

                Traduit avec DeepL.com (version gratuite)</p>
        </div>
        <div class="col-4">
            <img src="{{ asset('img/slem.png') }}" alt="Image Description" class="img-fluid picka mt-5">
        </div>
        <div class="col-4 mx-auto mxt">
            <div class="text-image-container">
                <div class="text-beside-image">
                    <h2>JOIN THE </h2>
                    <h1>A$$!</h1>
                    <h2>COMMUNITY </h2>
                </div>
                <div class="row">
                    <div class="col-6 mt-5  ">
                        <img src="{{ asset('img/tel.png') }}" class="img-fluid  d-block header-logo justify-content-center" alt="">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="{{ asset('img/X.png') }}" class="img-fluid   d-block header-logo" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="PurpleBlack-band">
    <div class="container ">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mxt">
                <h1 class="htba">HOW TO BUY A$$!!!</h1>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 mxt">
                <img src="{{ asset('img/Ask.png') }}" alt="">
            </div>
            <div class="col-4"></div>
            <div class="col-4 mxt">
                <h2 class="htba">
                    Creat SOLANA Wallet
                </h2>
                <p class="htba">
                    creer ton wallet sur Phanto suis simplement le guide
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-6 mxt">
                <img src="{{ asset('img/wallet.png') }}" alt="" class="logoR">
            </div>
            <div class="col-6 ">
                <img src="{{ asset('img/solToken.png') }}" alt="" class="logoR">
            </div>
            <div class="col-2"></div>
            <div class="col-4 ">
                <h2 class="htba">
                    Buy some SOL
                </h2>
                <p class="htba">
                    Bravo tu a créer ton wallet maintenant remplie le de SOL
                </p>
            </div>

            <div class="col-4 ">
                <h2 class="htba">
                    Swap your SOL to A$$
                </h2>
                <p class="htba">
                    Maintenant utilise Raydium afin de swap tes SOL en A$$
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-6 ">
                <img src="{{ asset('img/Raydium.png') }}" alt="" class="logoR">
            </div>

        </div>
    </div>
</div>



{% block body %}{% endblock %}
</body>
</html>
